<nav class="navbar">
  <%= link_to "Home", root_path %>
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to "登出", sessions_path, method: "delete" %></li>
    <% else %>
      <li><%= link_to "註冊", sign_up_users_path %></li>
      <li><%= link_to "登入", sign_in_users_path %></li>
    <% end %>
    <li><%= link_to "履歷", resumes_path %></li>
    <li><%= link_to "關於", about_path %></li>
    <li><%= link_to "聯絡", contact_path %></li>
  </ul>
</nav>
