<nav class="flex justify-between px-4 py-6 shadow-sm md:px-8">
  <%= link_to t("nav.home"), root_path %>
  <ul class="flex">
    <% if user_signed_in? %>
      <li class="mx-2"><%= link_to "付費升級", pricing_path %></li>
      <li class="mx-2"><%= current_user.email %></li>
      <li class="mx-2"><%= link_to t("nav.sign_out"), sessions_path, method: "delete" %></li>
    <% else %>
      <li class="mx-2"><%= link_to t("nav.sign_up"), sign_up_users_path %></li>
      <li class="mx-2"><%= link_to t("nav.sign_in"), sign_in_users_path %></li>
    <% end %>
    <li class="mx-2"><%= link_to t("nav.resume"), resumes_path %></li>
    <li class="mx-2"><%= link_to t("nav.about"), about_path %></li>
    <li class="mx-2"><%= link_to t("nav.contact"), contact_path %></li>
    <li class="mx-2"><%= link_to t('locale.other_lang'), locale_path(lang: t("locale.switch")), class: 'btn btn-sm btn-primary' %></li>
  </ul>
</nav>
