<nav class="flex justify-between shadow-sm py-6 md:px-8 px-4">
  <%= link_to "Home", root_path %>
  <ul class="flex">
    <% if user_signed_in? %>
      <li class="mx-2"><%= link_to "登出", sessions_path, method: "delete" %></li>
    <% else %>
      <li class="mx-2"><%= link_to "註冊", sign_up_users_path %></li>
      <li class="mx-2"><%= link_to "登入", sign_in_users_path %></li>
    <% end %>
    <li class="mx-2"><%= link_to "履歷", resumes_path %></li>
    <li class="mx-2"><%= link_to "關於", about_path %></li>
    <li class="mx-2"><%= link_to "聯絡", contact_path %></li>
  </ul>
</nav>
