<h1>方案<%= @plan %>： <%= @price %></h1>
<%= form_with url: pay_path(id: params[:id]), data: {controller: "braintree", token: @token,} do |form| %>
  <%= form.submit "付款", class: "btn btn-primary btn-sm mb-2"%>
<% end %>
<%= link_to "回上頁", :back %>
