<section class="border shadow-md">
  <header>
    <div class="cover">
      <%= link_to resume_path(resume.slug || resume.id) do %>
        <img src="https://fakeimg.pl/350x200/ff0000,128/000,255" class="w-full">
      <% end %>
    </div>
  </header>
  <section class="p-4">
    <div>
      <h2 class="font-bold"><%= resume.name %></h2>
      <address><%= resume.city %></address>
    </div>
    <article>
      <%= link_to resume.intro&.truncate(75), '#' %>
    </article>
  </section>
  <footer class="p-4">
    <time><%= format_date(resume.updated_at) %></time>
    <% if policy(resume).new? %>
      <div class="mt-2">
        <%= link_to '編輯', edit_resume_path(id: resume.id), class: 'btn btn-sm btn-primary' %>
        <%= link_to '建立副本', '#', class: 'btn btn-sm btn-primary' %>
        <%# 可以用link_to改變點link的method，是因為turbolink，可以再去查那是什麼 %>
        <%= link_to '刪除', resume_path(id: resume.id), class: 'btn btn-sm btn-primary', method: "delete", data: {confirm: "確定要刪除嗎？"} %>
      </div>
    <% end %>
  </footer>
</section>
