<section class="resume-card">
  <header>
    <div class="cover">
      <%= link_to show_resume_path(resume.id) do %>
        <img src="https://fakeimg.pl/350x200/ff0000,128/000,255">
      <% end %>
    </div>
  </header>
  <section class="info">
    <div class="basic-info">
      <h2 class="username"><%= resume.name %></h2>
      <address class="location"><%= resume.city %></address>
    </div>
    <article class="intro truncate">
      <%= link_to resume.intro&.truncate(75), '#' %>
    </article>
  </section>
  <footer>
    <time class="update-time"><%= format_date(resume.updated_at) %></time>
    <div class="functions">
      <%= link_to '編輯', '#', class: 'btn' %>
      <%= link_to '建立副本', '#', class: 'btn' %>
      <%= link_to '刪除', '#', class: 'btn btn-danger' %>
    </div>
  </footer>
</section>
